.list .poll-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .poll-actions button {
  margin: 0 5px;
}
.poll-status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 72px;
}
.responses{
  margin: 10px;
}