.list .poll:hover {
  background: initial;
  cursor: default;
}
.list .poll-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .poll-actions button {
  margin: 0 5px;
}