.list, .polls {
  width: 100%;
  height: 100%;
}
.polls {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 15px;
}
.list {
  margin-bottom: 10px;
  width: 100%;
  /* padding: 5px; */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  border: thin solid transparent;
  border-radius: 6px;
}
.poll-title {
  background: #f2f2f2;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  /* padding: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  border: thin solid transparent; */
  border-radius: 6px;
}
.poll-info, .poll-response {
  flex: 1;
  width: 50%;
}
.poll-desc {
  max-width: 100%;
  margin:0px;
  padding:0px;
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.poll-response {
  display: flex;
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.question {
  margin-bottom: 10px;
  padding: 10px;
  margin: 10px;
  width: 98%;
  /* padding: 5px; */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: thin solid transparent;
  border-radius: 6px;
}
.progress {
  margin: 5px;
  width:200px;
  height:50px;
  border:1px solid#d3e4ea;
  position:relative;
}
/* .progress:after {
  content:'\A';
  position:absolute;
  background:#d3e4ea;
  top:0; bottom:0;
  left:0; 
  width:50%;
} */